/* table_styles.css */

/* Styles für das gesamte Dialogfenster */
QDialog {
    background-color: #fff; /* Hintergrundfarbe des Dialogfensters */
    color: #333; /* Schriftfarbe */
}

QLabel#loadedKontoplanLabel {
    background-color: #3f3da1; /* Hintergrundfarbe */
    padding: 5px; /* Innenabstand */
    border: 1px solid #3d3d3d; /* Rahmen */
    font-weight: bold; /* Fettschrift */
    font-family: 'Montserrat', sans-serif; /* Schriftart */
    color: rgb(255, 255, 255); /* Schriftfarbe */
}

QLabel#kontonummerLabel, QLabel#bezeichnungLabel, QLabel#steuercodeLabel, QLabel#prozentLabel {
    background-color: #ffffff; /* Hintergrundfarbe */
    padding: 5px; /* Innenabstand */
    border: 1px solid #ffffff; /* Rahmen */
    font-family: 'Montserrat', sans-serif; /* Schriftart */
    color: rgb(0, 0, 0); /* Schriftfarbe */
}

QLabel#sectionHeaderLabel_optional, QLabel#sectionHeaderLabel_pflichtfelder {
    color: rgb(54, 54, 54); /* Schriftfarbe */
    font-family: 'Montserrat ExtraBold', sans-serif; /* Schriftart */
    font-size: 12px
}

QLabel {
    color: red; /* Schriftfarbe für Fehlermeldungen */
    font-family: 'Montserrat', sans-serif;
    font-size: 18px
}

QLineEdit {
    background-color: #8b89ff; /* Hintergrundfarbe */
    padding: 5px; /* Innenabstand */
    border: 1px solid #3f3da1; /* Rahmen */
    font-family: 'Montserrat', sans-serif; /* Schriftart */
    color: rgb(0, 0, 0); /* Schriftfarbe */
    font-size: 14px;
}

QLineEdit#kontonummerLineEdit_success {
    background-color: #5eff00; /* Hintergrundfarbe */
    padding: 5px; /* Innenabstand */
    border: 1px solid #3f3da1; /* Rahmen */
    font-family: 'Montserrat', sans-serif; /* Schriftart */
    color: rgb(0, 0, 0); /* Schriftfarbe */
    font-size: 14px;
}

QTableWidget {
    color: #000000;
    font-family: 'Montserrat', sans-serif; /* Schriftart */
    background-color: #ffffff;
    gridline-color: #3e3f4b;
    border-radius: 5px;
    font-size: 16px;
}

QTableWidget QHeaderView::section {
    background-color: #3f3da1;
    color: #fff;
    padding-left: 4px;
    border: 1px solid #3e3f4b;
    spacing: 10px;
    font-size: 16px;
    font-weight: bold; /* Fettschrift */
}

QTableWidget QHeaderView {
    background-color: #ffffff;
    color: #d5d6da;
}

QTableWidget::item:selected {
    background-color: #3f3da1;
    color: #fff;
}

QPushButton {
    background-color: #3f3da1;
    color: #e6e6e6;
    border-radius: 2px;
    padding: 5px;
    border: none;
    font-size: 16px; /* Erhöhung der Schriftgröße */
}

QPushButton:hover {
    background-color: #140180;
}
